*{
    font-family: 'Montserrat',  sans-serif;
}

:root{
    --white: rgb(244,244,244);
    --black: rgb(25, 25, 25);
    --acqua: rgb(120, 243, 247);
}

.bg-white{
    background-color: var(--white);
}

.bg-black{
    background-color: var(--black);
}

.bg-acqua{
    background-color: var(--acqua);
}


.text-white{
    color: var(--white);
}

.text-black{
    color: var(--black);
}

/* Navbar */
.nav-link{
    color:var(--white)
}

.nav-link:hover{
    color: aqua;
}

.logo{
    width: 60px;
}


/* Header */
.header{
    background-image: url(https://wallpaperaccess.com/thumb/2393032.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.btn-Custom{
   color: var(--black);
   background-color: var(--white);
   border: 1px solid var(--black);
   border-radius: 5px;
   margin: 10px;
}

.btn-Custom:hover{
    color: var(--white);
    background-color: var(--black)
}


/* Section1 */
.col-custom{
    padding: 10px;
    border: 2px solid var(--black);
    cursor: pointer;
}

.col-custom:hover{
   transform: scale(1.1);
}

.positioned{
    position: relative;
    top: -100px
}


/* Section2 */

.number{
    font-size: 50px;
    font-weight: 900px;
}

/* swiper */
.swiper{
    height: 600px;
}

.card-review{
    height: 150px;
    width: 400px;
    border: 2px solid var(--black);
    border-radius: 20px;
    color: var(--black);
    background-color: var(--white);
}

.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}


    




